* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    overflow-x: hidden;
    font-family: "Helvatica Neue", Helvatica, sans-serif;
    font-size: 1.12rem;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.container-custom {
    position: relative;
    max-width: 1230px;
    margin: auto;
}

.bg-secondary a:hover {
    text-decoration: underline;
}


.bg-secondary {
    background: #f6efe8;
    font-weight: bold;
}


.bg-primary {
    background: #3d103d;
    color: #ffffff;
}

.bg-white {
    background: #ffffff;
    color: #3d103d;
}

.outline-primary {
    border: 1px solid #3d103d;
    color: #3d103d !important;
}

.outline-white {
    border: 1px solid #ffffff;
    color: #ffffff !important;
}

.color-primary {
    color: #3d103d;
}

.color-secondary {
    color: #f6efe8;
}

.main-nav {
    height: 80px;
    font-size: 0.9375rem;
}

.logo {
    height: 25px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    padding: 0 0.9375rem;
}

.navbar-nav {
    margin-left: 0.9375rem;
}

.outline-btn {
    border: 1px solid #3d103d;
    border-radius: 4px;
    color: #3d103d;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-left: 0.9375rem;
}

.primary-btn {
    border: 1px solid #3d103d;
    border-radius: 4px;
    color: #ffffff;
    background: #3d103d;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-left: 0.9375rem;
}

#try-for-free {
    padding: 0 20px;
}

#try-for-free-heading {
    width: 50%;
    height: 100%;
}

#try-for-free-image {
    width: 45%;
    height: 100%;
}

h2.hero {
    font-size: 2rem;
    margin-bottom: 0;
}

h2.features {
    font-size: 3rem;
    margin-bottom: 0;
}

.btn {
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}

#try-for-free .btn-wrapper {
    margin-top: 20px;
    height: 57px;
}

#features .btn-wrapper {
    height: 57px;
}

.responsive-media {
    width: 100%;
    height: auto;
    max-height: 400px;
}

#features {
    padding-top: 5rem;
}

#features-image {
    width: 57% !important;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

#features-text {
    width: 37%;
    height: 25rem;
}

.text-center {
    text-align: center;
}

#stories {
    margin-top: 5rem;
}

#stories h2 {
    font-size: 3rem;
}

.customer-message {
    font-style: italic;
    font-size: 1.3rem;
}

#customer-story-text {
    padding-right: 4vw;
}

#customer-story-image {
    padding-left: 4vw;
}

#stories .container-custom {
    margin-top: 5rem;
}

#brands {
    padding: 3rem 0;
}

#call-to-action {
    padding: 5rem 0;
    clip-path: ellipse(75% 100% at center top);
}

h2.cta {
    font-size: 3rem;
    margin-top: 0;
}

#call-to-action .btn {
    margin: 0 0.5rem;
}

#footer {
    font-size: 0.875rem;
    margin-top: 3rem;
}

.footer-link {
    text-decoration: none;
    color: #000000;
    margin-top: 1rem;
}

#footer-seperator {
    margin-top: 3rem;
    opacity: 0.2;
}

#copyright {
    font-size: 0.875rem;
}

.copyright-links {
    margin-top: 1rem;
}

.copyright-links a {
    color: #000000;
    text-decoration: none;
    margin-right: 1rem;
}

.download {
    color: #1264a3;
    text-decoration: none;
}

.download img {
    padding-right: 0.5rem;
}

.social-link {
    font-size: 1rem;
    color: #000000;
    margin-left: 1rem;
}

.copyright-text {
    padding: 1rem 0;
    font-size: 0.7rem;
}

.hang {
    width: 40%;
    position: absolute;
    bottom: -40px;
    box-shadow: 3px 3px 10px #aaaa;
    border-radius: 5px;
}

@media (max-width: 576px) {

    .main-nav {
        display: none;
    }

    h2.hero {
        font-size: 24px;
        margin-bottom: 0;
    }

    .mb-hide {
        display: none;
    }

    .flex {
        flex-direction: column;
    }

    #try-for-free .btn-wrapper {
        height: 32px;
    }

    #try-for-free-image,
    #try-for-free-heading {
        width: 100vw;
    }

    video {
        width: 90vw;
    }

    .btn {
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
    }

    @media screen and (max-width: 1365px) {
        .bg-secondary {
            flex: row;
        }

        #try-for-free-image,
        #try-for-free-heading,
        #features-image,
        #features-text {
            width: 100%;
        }

        #features {
            padding: 0;
        }

        #features-text {
            height: 20rem;
        }

        h2.hero,
        h2.features,
        #stories h2,
        h2.cta {
            font-size: 1.5rem;
        }

        #try-for-free .btn,
        #features .btn {
            display: block;
            text-align: center;
        }

        #try-for-free-image,
        #features-image {
            padding-top: 2rem;
        }

        .hide-in-mobile {
            display: none;
        }

        .flex-column-mobile {
            display: flex;
            flex-direction: column;
        }

        .flex-column-reverse-mobile {
            display: flex;
            flex-direction: column-reverse;
        }

        .flex-wrap-mobile {
            flex-wrap: wrap;
            justify-content: start;
        }

        #brands img {
            margin: 0.5rem;
        }

        #call-to-action .btn {
            margin: 0.5rem;
            text-align: center;
        }

        #call-to-action {
            clip-path: ellipse(105% 100% at center top);
        }

        .footer-link {
            display: none;
        }

        .align-start-mobile {
            align-items: start;
        }

        .download {
            width: 100%;
        }

        .copyright-social {
            flex-wrap: wrap;
        }

        .copyright-links a {
            margin-bottom: 1rem;
        }

        .social-link {
            margin-right: 1rem;
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}